<% layout("/layouts/boilerplate.ejs") %>
<body>
  <br />
  <h3 class="mb-4">Edit listing</h3>

  <div class="col-8 offset-2">
    <form class="needs-validation" novalidate method="POST" action="/listings/<%= listing.id%>?_method=PUT" >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          class="form-control"
          value="<%=listing.title%>"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title required!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" type="text" class="form-control" required>
<%=listing.description%></textarea
        >
        <div class="valid-feedback">Description looks good!</div>
        <div class="invalid-feedback">Description required!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="listing[image]"
          type="text"
          class="form-control"
          value="<%=listing.image%>"
          required
        />
        <div class="valid-feedback">Image looks good!</div>
        <div class="invalid-feedback">Image link required!</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            type="number"
            class="form-control"
            value="<%=listing.price%>"
            required
          />
          <div class="valid-feedback">Price looks good!</div>
          <div class="invalid-feedback">Price required!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            type="text"
            class="form-control"
            value="<%=listing.country%>"
            required
          />
          <div class="valid-feedback">Country looks good!</div>
          <div class="invalid-feedback">Country required!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          type="text"
          class="form-control"
          value="<%=listing.location%>"
          required
        />
        <div class="valid-feedback">Location looks good!</div>
        <div class="invalid-feedback">Location required!</div>
      </div>

      <button class="btn btn-dark mb-3 add-btn">Add</button>
    </form>
  </div>
</body>
