<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Listing Details</h3>
            </div>
            <div class="card col-6 offset-2 mt-3 show-card">
                <img src="<%= listing.image %>" class="card-img-top" alt="listing-image" />
                <div class="card-body">
                    <h5 class="card-title">
                        <%= listing.title %>
                    </h5>
                    <p class="card-text">
                        &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                    </p>
                    <p class="card-text">
                        <%= listing.description %>
                    </p>
                    <p class="card-text">
                        <%= listing.location %>, <%= listing.country %>
                    </p>
                </div>
            </div>
            <div class="btns mb-3 offset-1">
                <a href="/listings/<%= listing.id %>/edit" class="btn btn-dark add-btn col-1 offset-2">Edit</a>
                <form method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
                    <button class="btn btn-dark offset-2">Delete</button>
                </form>
            </div>
        </div>
    </body>